---
import Layout from '../layouts/Layout.astro';
import Bento from '../components/Bento.astro';
import Intro from '../components/Intro.astro';
import PreFooter from '../components/PreFooter.astro';
import Footer from '../components/Footer.astro';
import Video from '../components/Video.astro';
---

<Layout title="Tonalli - Pagina web para prevenir el suicidio" description="Informate acerca del suicidio y como prevenirlo">

	<Video />

	<main>
		<Intro />
		<Bento />
		<PreFooter />
	</main>
	
	<Footer />
</Layout>