---
import BentoItem from './BentoItem.astro'
---

<section class={` w-full max-w-[1400px]
    grid lg:grid-cols-10 auto-rows-[30rem] gap-4
    mx-auto p-6 md:p-12 lg:p-20
    `}
    >
    <BentoItem 
    class="col-span-10 lg:col-span-4" 
    title="Causas del suicidio"
    >

    <div
    slot="image"
    class="background transition-scale absolute bottom-0 left-0 top-0
    -z-10 h-full w-full bg-blue-950
     bg-cover bg-center bg-no-repeat opacity-90 bg-blend-luminosity duration-1000 ease-in-out"
     style="background-image: url('/bg3.webp');"
    >
    </div>
     <p slot="content"
        class="max-w-xl text-base md:text-lg text-white">
        Los pensamientos <strong class="text-white">suicidas</strong> pueden tener distintas causas. Con mayor frecuencia, son resultado de sentimientos que no puedes afrontar cuando se presenta una situación abrumadora en tu vida, neurodivergencia, victima de hostigamiento tanto laboral como escolar, problemas economicos o familiares
     </p>
    </BentoItem>
    <BentoItem 
    class="col-span-10 lg:col-span-6" 
    title="Etapas del suicidio">

    <div
    slot="image"
    class="background transition-scale absolute bottom-0 left-0 top-0
    -z-10 h-full w-full bg-blue-800
    bg-cover bg-center bg-no-repeat opacity-90 bg-blend-luminosity duration-1000 ease-in-out"
    style="background-image: url('/suicidio001.jpg');"
    >
    </div>

    <h3 slot ="content" class="max-w-xl text-white md:text-lg">Etapa 1. <strong>Ideación</strong></h3>
    <p slot ="content" class="max-w-xl text-white md:text-lg">El afectado empieza a tener pensamientos.
     "¿Cómo seria si yo no estuviera aqui?"</p>
    <h3 slot="content" class="max-w-xl text-white md:text-lg">Etapa 2. <strong>Planeación</strong></h3>
    <p slot="content" class="max-w-xl text-white md:text-lg">Son una serie de pensamientos que te podrian llevar a planear como quitarte la vida.</p>
    <h3 slot="content" class="max-w-xl text-white md:text-lg">Etapa 3. <strong>Actuación</strong></h3>
    <p slot="content" class="max-w-xl text-white md:text-lg">Es el intento de suicidio.</p>
    </BentoItem>

    <BentoItem 
    class="col-span-10 md:col-span-6" 
    title="Señales del suicidio" 
    >
    <div
    slot="image"
    class="background transition-scale absolute bottom-0 left-0 top-0
    -z-10 h-full w-full bg-blue-900
    bg-cover bg-center bg-no-repeat opacity-90 bg-blend-luminosity duration-1000 ease-in-out"
    style="background-image: url('/signo3.jpg');"
    >
    </div>

        <h2 slot ="content" class="text-white max-w-xl">-Aburrirse de sus actividades contidianas</h2>
        <h2 slot ="content" class="text-white max-w-xl">-Alejarse de sus vinculos cercanos</h2>
        <h2 slot ="content" class="text-white max-w-xl">-Despedidas constantes</h2>
        <p slot ="content" class="text-white max-w-xl">También se pueden presentar síntomas físicos reflejándose en la variación del peso corporal, falta de concentración, 
            alteraciones de sueño y del apetito que se puede ver reflejado en la variación del peso corporal durante el último mes.</p>


    </BentoItem>
    <BentoItem 
    class="col-span-10 md:col-span-4" 
    title="¿Como ayudar?" >
    <div
    slot="image"
    class="background transition-scale absolute bottom-0 left-0 top-0
    -z-10 h-full w-full bg-blue-950
    bg-cover bg-center bg-no-repeat opacity-90 bg-blend-luminosity duration-1000 ease-in-out"
    style="background-image: url('/ayuda1.jpg');"
    >
    </div>

    <p slot="content" class="text-white max-w-xl">Estar presente para alguien con pensamientos suicidas puede salvar vidas. Aumenta la conexión de la persona con los demás y reducir su aislamiento.</p>
    </BentoItem>
</section>