<header class="h-13 fixed w-screen py-4 z-10 backdrop-blur-sm top-0 px-8 lg:px-0">
    <div class="grid grid-cols-3 max-w-7xl mx-auto items-center justify-between">
        <a href="/" class="col-span-1">
            <img src="/logohead.png" width="60" alt="Logo Tonalli" />
        </a>
        <nav class="col-span-1 justify-self-center">
            <ul class="flex gap-4">
                <li class="text-white">INFO</li>
                <li class="text-white">ARCHIVOS</li>
            </ul>
        </nav>
        <a href="#" class="border text-white rounded-full inline-block border-white px-4 py-2 justify-self-end hover:bg-white hover:text-black duration-300">
            AYUDA
        </a>
    </div>
</header>