<section class="text-xl text-left px-20 max-w-[70ch] text-pretty mx-auto my-24 text-center">
    <img class="w-16 mb-10 m-auto" src="/logo2.svg" alt="Logo de Tonalli"/>

    <h1 class="text-5xl font-semibold text-center text-wrap mx-auto mb-10
        tracking-wide">
        Bienvenid@s <br /> a TONALLI 
    </h1>

    <p>Somos estudiantes de la carrera de informatica por parte de la <strong>Universidad Mexiquense del Bicentenario</strong> en la licenciatura en Informatica. </p>
    <p>El proposito de esta plataforma es <strong>combatir y prevenir el suicidio</strong> en la zona oriente del Estado de Mexico.</p>
</section>