<section class="mx-auto w-full max-w-[1400px] p-6 sm:p-20">
    <h3 class="umx-auto mb-10 text-balance text-center text-xl font-semibold uppercase tracking-wide md:text-4xl">
        Podcast acerca de temas del suicidio
    </h3>

    <Lite-youtube
        class="rounded-xl shadow-2xl shadow-white/10"
        videoid="tnjVw7sEGbg"
        videotitle="Podcast acerca de temas del suicidio"
    ></Lite-youtube>
</section>

<script>
    import "@justinribeiro/lite-youtube"
</script>