<section class="w-full p-20 max-w-[1400px] mx-auto">
    <h3 class="uppercase text-4xl tracking-wide text-center font-semibold mb-10 text-balance mx-auto">
        Podcast acerca de temas del suicidio
    </h3>

    <Lite-youtube
        class="shadow-2xl shadow-white/10 rounded-xl"
        videoid="tnjVw7sEGbg"
        videotitle="Podcast acerca de temas del suicidio"
    ></Lite-youtube>
</section>

<script>
    import "@justinribeiro/lite-youtube"
</script>