<div class="w-full relative">
    <img class="absolute top-60 z-10 w-[700px] left-0 right-0 m-auto" src="/logo.svg" alt="Tonalli- Plataforma web en contra del suicidio">
    <video class="w-full h-screen object-cover object-top ease-in-out animate-fade-in animate-duration-1000" src="/Video.mp4" autoplay loop muted
    style="clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 50% 100%, 0 85%);"></video>
    <video 
    class="absolute -bottom-48 blur-3xl -z-40"
    src="/Video.mp4" 
    autoplay 
    loop 
    muted
    ></video>
</div>